{erl_opts, []}.

{lfe_first_files, []}.

{eunit_compile_opts, [{src_dirs, ["test"]}]}.

{deps, [
   {lutil, {git, "git://github.com/lfex/lutil.git", {tag, "0.5.1"}}}
  ]}.

{plugins, [
   {'lfe-compile',
    {git, "git://github.com/lfe-rebar3/compile.git", {tag, "0.4.0"}}}
  ]}.

{provider_hooks, [
  {post, [{compile, {lfe, compile}}]}
]}.

%% TODO: Lodox config, once it's stable.
%% {project_plugins, [
%%    {lodox, {git, "git://github.com/lfe-rebar3/lodox.git", {branch, "develop"}}}
%%   ]}.

{profiles, [
   {dev, [
      {deps, [
         {lfe, {git, "git://github.com/rvirding/lfe.git", {tag, "1.0.2"}}}
        ]}
     ]},
   {test, [
      {erl_opts, [{src_dirs, ["src", "test"]}]},
      {deps, [
         {ltest, {git, "git://github.com/lfex/ltest.git", {tag, "0.8.2"}}}
        ]}
     ]}
  ]}.
